/* Scrolling outlined text band. */

.animation-view-area {
  overflow: hidden;
}

.animation-view-area .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.animation-view-content .animation-view-text {
  white-space: nowrap;
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0;
  color: #9C9C9C;
  animation: marquee 25s linear infinite forwards;
}

.animation-view-content .animation-view-text span {
  display: inline-block;
  margin: 0 10px;
}

.animation-view-content .animation-view-text span:nth-child(odd) {
  color: transparent;
  -webkit-text-stroke: 0.5px #9C9C9C;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.animation-view-content .animation-view-text:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

@media only screen and (max-width: 767px) {
  .animation-view-content .animation-view-text {
    font-size: 25px;
    color: var(--headingColor);
  }

  .animation-view-content .animation-view-text span:nth-child(odd) {
    -webkit-text-stroke: 1px var(--headingColor);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .animation-view-content .animation-view-text {
    font-size: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .animation-view-content .animation-view-text {
    font-size: 50px;
  }
}
